/* footer */
.section__footer{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  color: #f3f3f3;
  margin-top: 100px;
}
.footer {
  width: 100%;
  height: 200px;
  background: #1D1F22;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__titlesite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.footer__title {
  font-weight: 700;
  font-size: 22px;
  margin-top: 16px;
}
.footer-hr {
  width: 500px;
  height: 1px;
  margin-top: 20px;
  background: #f3f3f3;
}
.footer-menu {
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.footer-item {
  font-weight: 400;
  font-size: 14px;
}
