@media screen and (max-width:960px){
  /* header */
  .header {
    display: none;
  }
  /* download */
  .download__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url("../src/istock_000018828403medium1.png");
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
  }
  .download__container-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 50px;

    margin-top: 100px;

    user-select: none;
    color: #fff;
  }
  .download__container-subtitle {
    max-width: 1200px;
    width: 90%;

    margin-top: 50px;

    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    user-select: none;
    color: #fff;
  }
  /* work */
  /* auth */
}
@media screen and (max-width:776px){
  /* header */
  /* download */
  /* work */
  /* auth */
}
@media screen and (max-width:768px){
  /* header */
  /* download */
  /* work */
  /* auth */
}
@media screen and (max-width:707px){
  /* header */
  /* download */
  /* work */
  /* auth */
  .auth__container-checkbox {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width:680px){
  /* header */
  /* download */
  .download__container-title {
    font-size: 58px;
    margin-top: 60px;

    user-select: none;
    color: #fff;
  }
  .download__container-subtitle {
    max-width: 1200px;
    width: 90%;

    margin-top: 50px;

    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    user-select: none;
    color: #fff;
  }
  /* work */
  .work__container_left-title {
    font-size: 54px;

  }
  .work__container_left-subtitle{
    max-width: 397px;
    width: 95%;
    font-size: 20px;

  }
  /* auth */
}
@media screen and (max-width:667px){
  /* header */
  /* download */
  /* work */
  /* auth */
  .auth__container-checkbox {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width:640px){
  /* header */
  /* download */
  /* work */
  .work {
    max-width: 1920px;
    height: auto;

  }
  .work__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 80px;

    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #F6F6F6;
    padding-bottom: 50px;
  }
  .work__container-left,.work__container-right {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;

  }
  .work__container-right {
    justify-content: center;
    align-items: center;
  }
  .work__container_left-title {
    font-size: 48px;
    margin-top: 50px;
  }
  .work__container_left-subtitle{
    max-width: 397px;
    width: 100%;

    margin-top: 30px;
    margin-bottom: 50px;
  }
  .work__container_right-test {
      width: 350px;
      height: 400px;
      background: #fff;
      border-radius: 10px;

      display:flex;
      flex-direction:column;
      align-items:center;
  }
  /* auth */
}
@media screen and (max-width:600px){
  /* header */
  /* download */
  .download__container-title {
    font-size: 50px;
    margin-top: 60px;

    user-select: none;
    color: #fff;
  }
  .download__container-subtitle {
    max-width: 1200px;
    width: 90%;

    margin-top: 50px;

    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    user-select: none;
    color: #fff;
  }
  /* work */
  /* auth */
  .auth__container-checkbox {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width:480px){
  /* header */
  /* download */
.download {
    height:auto;
}
.download__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
.download__container-title {
    font-size: 44px;
    margin-top: 60px;

  }
.download__container-subtitle {
    max-width: 1200px;
    width: 90%;

    margin-top:20px;

    font-size: 18px;

  }
  /* work */
  .work__container {
    margin-top: 0px;
  }
  .work__container-left,.work__container-right {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .work__container_left-title {
    font-size: 48px;
    margin-top: 50px;
  }
  .work__container_left-subtitle{
    width: 100%;

    margin-top: 30px;
    margin-bottom: 50px;
  }
  /* auth */
  .auth__container-checkbox {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width:414px){
  /* header */
  /* download */
.download__container-title {
      font-size: 38px;
      margin-top: 60px;

}
.download__container-subtitle {
      max-width: 1200px;
      width: 90%;

      margin-top:30px;

      font-size: 18px;

}
.download__container-load {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.load-ic {
  width: 100%;
}
  /* work */
  /* auth */

}
@media screen and (max-width:393px){
  /* header */
  /* download */
  .download__container-title {
        font-size: 30px;
        margin-top: 60px;

  }
  /* work */
  .work__container_left-title {
    font-size: 34px;
    margin-top: 50px;
  }
  .work__container_left-subtitle{
    width: 95%;
    font-size: 16px;

  }
  /* auth */
  .auth__container-checkbox {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width:375px){
  /* header */
  /* download */
  .download__container-title {
        font-size: 30px;
        margin-top: 60px;

  }
  /* work */
  .work__container_left-title {
    font-size: 34px;
    margin-top: 50px;
  }
  .work__container_left-subtitle{
    width: 95%;
    font-size: 16px;

  }
  /* auth */
  .auth__container-checkbox {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width:360px){
  /* header */
  /* download */
  .download__container-title {
        font-size: 30px;
        margin-top: 60px;
  }

  /* work */
  .work__container_right-test {
      max-width:350px;
      width: 100%;
      height: 400px;
      border-radius: 0;
  }
  /* auth */
  .auth__container-checkbox {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .auth__container-form,.registerForm,.authForm {
    max-width:350px;
    width: 100%;
    border-radius:0;
  }
}
@media screen and (max-width:320px){
  /* header */
  /* download */
  .download__container-title {
        font-size: 28px;
        margin-top: 60px;
  }
  .download__container-subtitle {
        margin-top:10px;
  }
  /* work */
  .work__container_left-title {
    font-size: 28px;
    margin-top: 50px;
  }
  /* auth */
  .auth__container-checkbox {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
