.section__news {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.news__container {
  display: flex;
}
.news {
  display: grid;
  grid-template-columns: repeat(3, 225px);
  grid-template-rows: repeat(auto-fill, 150px);
  grid-auto-flow: row;
  grid-auto-rows: 150px;
  grid-column-gap: 65px ;
  grid-row-gap: 30px ;
  margin: 0 auto;
  margin-top: 60px;
}
.news-card  {
  width: 100%;
  height: 100%;
  background-size: cover ;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, .25);
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  padding-left: 10px;
  transition: .25s;

  color: #fff;
  font-weight: 700;
  font-size: 14px;

  user-select: none;
  cursor: pointer;
}
.news-card:hover {
  transform: scale(1.1);
  transition: .25s;
}
