.section__footer{
  position: absolute;
  bottom: 0;
}
.section__auth{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
.auth{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 150px;
}
.auth-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--Text);
}
.auth__logo-title{
  font-weight: 700;
  font-size: 22px;
  margin-top: 20px;
}
.auth__logo-type{
  font-weight: 400;
  font-size: 16px;
  margin-top: 5px;
}
.auth-field{
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form{
  width: 325px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //border-radius: 2px;
  //background: red;
  //background: linear-gradient(to right bottom, #647DEE ,#A044FF);
}
.input-text{
  width: 220px;
  height: 30px;
  border: 1px solid #dadada;
  margin-top: 15px;
}

#submit, #submit-reg {
  width: 135px;
  height: 40px;

  margin-top: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to left bottom, #647DEE ,#A044FF);

  cursor: pointer;
  user-select: none;
  overflow: hidden;
}
#submit-reg {
  width: 200px;
}
#submit-background {
  background: var(--Text);
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 100%;
  transition: .25s;
}
#submit:hover > #submit-background,#submit-reg:hover > #submit-background{
  height: 100%;
  bottom: 0;
  transition: .25s;
}
#submit-text {
  position: absolute;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}
