.section__header {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
}
.header{
  width: 100%;
  height: 60px;

  background: #fff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .10);

  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fill,60px);
  grid-template-rows: repeat(auto-fill,60px);
  grid-auto-flow: column;
}
.header__titlesite {
  grid-column-start: 3;
  height: 100%;
}
.header__titlesite, .header__titlesite> a   {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__title{
  margin-left: 20px;
  font-size: 22px;
  font-weight: 700;
  transition: .25s;
}
.header__menu-item {
  font-size: 18px;
  font-weight: 400;
  align-self: center;
  transition: .25s;

}
.header__menu-item:hover{
  transition: .25s;
  color: var(--Fiol);
}
.header__nav {
  grid-column-start: 12 ;
  grid-column-end: 22 ;
  display: flex;
  justify-content: flex-start;
}
.nav-item{
  margin-left: 50px;
}
.menu-search, .menu-basket, .menu-user{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.menu-search:hover, .menu-basket:hover, .menu-user:hover {
  background: #f8f8f8;
}
.menu-search {
  grid-column: 30;
}
.menu-basket {
  grid-column: 31;
}
.menu-basket:hover > .header__menu-icon > path {
  fill: var(--Fiol);
  transition: .25s;
}
.menu-basket > .header__menu-icon > path {
  fill: #323232 ;
  transition: .25s;
}
.menu-user {
  grid-column: 32;
}
.menu-user:hover > .header__menu-icon > path {
  fill: var(--Fiol);
  transition: .25s;
}
.menu-user > .header__menu-icon > path {
  fill: #323232 ;
  transition: .25s;
}
.header__user_menu {
  max-width: 1920px;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fill,60px);
  grid-template-rows: repeat(auto-fill,60px);
  grid-auto-flow: column;
}
.user_menu {
  max-width: 125px;
  width: 100%;
  grid-column-start: 31 ;
  grid-column-end: 33 ;
  display: none;
}
.user_item {
  background: #fff;
  height: 30px;

  user-select: none;
  cursor: pointer;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  transition: .25s;
}
.user_item > a {
  width: 100%;
  height: 30px;
}
.user_item:hover {
  border-left: solid black 1px;
  background: #f2f2f2;
  transition: .25s;
}
@media screen and (max-width:1680px){
.header__titlesite {
  grid-column-start: 3;
}
.header__nav {
  grid-column-start: 10 ;
  grid-column-end: 20 ;
}
.menu-search {
  grid-column: 26;
}
.menu-basket {
  grid-column: 27;
}
.menu-user {
  grid-column: 28;
}

}
@media screen and (max-width:1600px){
.header__nav {
  grid-column-start: 9 ;
  grid-column-end: 20 ;
}
.menu-search {
  grid-column: 24;
}
.menu-basket {
  grid-column: 25;
}
.menu-user {
  grid-column: 26;
}
}
@media screen and (max-width:1440px){
.header__nav {
  grid-column-start: 8 ;
  grid-column-end: 20 ;
}
.menu-search {
  grid-column: 22;
}
.menu-basket {
  grid-column: 23;
}
.menu-user {
  grid-column: 24;
}
}
@media screen and (max-width:1366px){
.header__nav {
  grid-column-start: 8 ;
  grid-column-end: 20 ;
}
.menu-search {
  grid-column: 20;
}
.menu-basket {
  grid-column: 21;
}
.menu-user {
  grid-column: 22;
}
}
@media screen and (max-width:1280px){
.header__nav {
  grid-column-start: 7 ;
  grid-column-end: 18 ;
}
.menu-search {
  grid-column: 19;
}
.menu-basket {
  grid-column: 20;
}
.menu-user {
  grid-column: 21;
}
}
@media screen and (max-width:1200px){
.header__titlesite {
  grid-column-start: 1;
}
.header__nav {
  grid-column-start: 7 ;
  grid-column-end: 17 ;
}
.menu-search {
  grid-column: 17;
}
.menu-basket {
  grid-column: 18;
}
.menu-user {
  grid-column: 19;
}
.nav-item{
  margin-left: 25px;
}
}
@media screen and (max-width:1152px){
.header__nav {
  grid-column-start: 7 ;
  grid-column-end: 17 ;
}
.menu-search {
  grid-column: 17;
}
.menu-basket {
  grid-column: 18;
}
.menu-user {
  grid-column: 19;
}
.nav-item{
  margin-left: 25px;
}
}
@media screen and (max-width:1024px){
.header__nav {
  grid-column-start: 6 ;
  grid-column-end: 15 ;
}
.menu-search {
  grid-column: 15;
}
.menu-basket {
  grid-column: 16;
}
.menu-user {
  grid-column: 17;
}
}
@media screen and (max-width:800px){
.header{
  height: 180px;
  grid-template-columns: repeat(auto-fill,40px);
  grid-template-rows: repeat(auto-fill,40px);
  grid-auto-flow: column;
}
.header__titlesite {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 2;
  justify-self: center;
  align-self: center;
}
.header__titlesite > a {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__title{
  margin-left: 0px;
}
.header__nav {
  grid-column-start: 5 ;
  grid-column-end: 17 ;
  grid-row-start: 3;
  align-self: center;
}
.menu-search {
  grid-column: 9;
  grid-row-start: 4;
}
.menu-basket {
  grid-column: 10;
  grid-row-start: 4;
}
.menu-user {
  grid-column: 11;
  grid-row-start: 4;
}
}
