/* custom header_footer */
.section__footer{
  position:relative;
  bottom: 0 ;
  margin-top: 100px;
}
/* minicatalog */
.section__minicatalog {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.minicatalog {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.minicatalog__field {
  max-width: 515px;
  width: 100%;
  margin-top: 60px;
}
.minicatalog-title {
  width: 100%;
}
.minicatalog-name {
  font-weight: 700;
  font-size: 24px;
}
.minicatalog-count {
  font-weight: 400;
  font-size: 14px;
  margin-top: 13px;
}
.minicatalog-cards {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 225px);
  grid-template-rows: repeat(auto-fill, 150px);
  grid-auto-rows: 150px;
  grid-auto-flow: row;
  grid-column-gap: 65px;
  grid-row-gap: 30px;
}
.minicatalog-card {
  width: 100%;
  height: 100%;
  background-size: cover ;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, .25);
  display: flex;
  align-items: flex-end;
  transition: .25s;
}
.minicatalog-card:hover {
  transform: scale(1.1);
  transition: .25s;
}
.card-title {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
  margin-bottom: 12px;
}
@media screen and (max-width:1680px)
{
  
}
@media screen and (max-width:1600px)
{
  
}
@media screen and (max-width:1440px)
{
  
}
@media screen and (max-width:1366px)
{
  
}
@media screen and (max-width:1280px)
{
  
}
@media screen and (max-width:1200px)
{
  
}
@media screen and (max-width:1152px)
{
  
}
@media screen and (max-width:1024px)
{
  .minicatalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}
@media screen and (max-width:800px)
{

}